<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @universidade.nombre %>
</p>

<%= link_to 'Edit', edit_universidade_path(@universidade) %> |
<%= link_to 'Back', universidades_path %>
