<center>
<div class="jumbotron">
  <h1>Gracias por su participación.</h1>
  <p><%= button_to 'Clic para ingresar nuevo', welcome_index_path, :class => "btn btn-primary btn-lg", :name => "boton", :id => "boton" %></p>
</div>
</center>