<h1>Editar Cuestionario</h1>

<%= render 'form' %>

<%= link_to 'Ver', @cuestionario, :class => "btn btn-sm btn-warning", :role => "button" %> |
<%= link_to 'Regresar', cuestionarios_path, :class => "btn btn-sm btn-danger" %>
</div>